<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curnon</title>
    <link rel="stylesheet" href="../CSS/curnon.css">
</head>
<body>
    <header>
        <nav class="menu">
            <ul class="menu-cap-1">
                <li class="option1">
                    NAM GIỚI
                    <div class="nam ">
                        <ul>
                            <li class="option-nam">
                                ĐỒNG HỒ
                                <div class="dong-ho-nam">
                                    <div class="Kashmir">
                                        <a href="#">
                                            <img src="../images/Kashmir.webp" alt="">
                                            <br>KASHMIR
                                        </a>
                                    </div>
                                    <div class="Kashmir">
                                        <a href="#">
                                            <img src="../images/Kashmir.webp" alt="">
                                            <br>KASHMIR
                                        </a>
                                    </div>
                                    <div class="Kashmir">
                                        <a href="#">
                                            <img src="../images/Kashmir.webp" alt="">
                                            <br>KASHMIR
                                        </a>
                                    </div>
                                    <div class="Kashmir">
                                        <a href="#">
                                            <img src="../images/Kashmir.webp" alt="">
                                            <br>KASHMIR
                                        </a>
                                    </div>
                                    <div class="Kashmir">
                                        <a href="#">
                                            <img src="../images/Kashmir.webp" alt="">
                                            <br>KASHMIR
                                        </a>
                                    </div>
                                    <div class="Kashmir">
                                        <a href="#">
                                            <img src="../images/Kashmir.webp" alt="">
                                            <br>KASHMIR
                                        </a>
                                    </div>
                                    <div class="Kashmir">
                                        <a href="#">
                                            <img src="../images/Kashmir.webp" alt="">
                                            <br>KASHMIR
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="option-nam">PHỤ KIỆN</li>
                            <li class="option-nam">DÂY ĐỒNG</li>
                            <li class="option-nam">QUÀ TẶNG</li>
                        </ul>
                    </div>
                </li>
                <li class="option1">
                    NỮ GIỚI
                    <div class="menu-nu">
                        <ul>
                            <li class="option2">
                                <a href="#">VÒNG TAY</a>
                                <div class="vong-tay">
                                    <div class="img-vong-tay">
                                        <img src="../images/vong-nu.webp" alt="">
                                    </div>
                                    <div class="content">
                                        <p>
                                            Mỗi thiết kế vòng tay của Curnon đều thể hiện một cá tính riêng biệt của những cô gái hiện đại
                                        </p>
                                        <br><br>
                                        <a href="#">KHÁM PHÁ NGAY</a>
                                    </div>
                                </div>
                            </li>
                            <li class="option2">
                                <a href="#">DÂY ĐỒNG HỒ</a>
                                <div class="vong-tay dong-ho">
                                    <div class="img-vong-tay">
                                        <img src="../images/dong-ho-nu.webp" alt="">
                                    </div>
                                    <div class="content">
                                        <p>
                                            Biến một thành nhiều chiếc đồng hồ để thay đổi phong cách thời trang của bản thân với dây đồng hồ Curnon.
                                        </p>
                                        <br><br>
                                        <a href="#">MUA NGAY</a>
                                    </div>
                                </div>
                            </li>
                            <li class="option2">
                                <a href="#">QUÀ TẶNG</a>
                                <div class="vong-tay qua-tang">
                                    <div class="img-vong-tay">
                                        <img src="../images/qua-tang.webp" alt="">
                                    </div>
                                    <div class="content">
                                        <p>
                                            Không còn phải đắn đo mỗi dịp tặng quà bởi trọn bộ Gift Set từ Curnon chắc chắn sẽ khiến cô ấy hài lòng.
                                        </p>
                                        <br><br>
                                        <a href="#">KHÁM PHÁ NGAY</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="option1">
                    VỀ CURNON
                    <div class="menu-cap-2">
                        <ul>
                            <li class="option2">
                                <a href="#">Blog</a>
                            </li>
                            <li class="option2">
                                <a href="#">Về chúng tôi</a>
                            </li>
                            <li class="option2">
                                <a href="#">Long & Short</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="option1 img">
                    <img src="https://curnonwatch.com/_next/static/media/logo.cc5d661a.svg" alt="">
                </li>
                <li class="option1">GIỎ HÀNG</li>
            </ul>
        </nav>
        <section>
            <div class="banner">
                <img src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fcms.curnonwatch.com%2Fuploads%2Fg_forks_pc_87b0e6690e.jpg&w=1920&q=100" alt="">
            </div>
            <div class="title">MEN'S BEST SELLER</div>
            <div class="List-product">
                <div class="product">
                    <div class="product-header">
                        <div class="sale">
                            -16%
                        </div>
                        <div class="product-img">
                            <img src="../images/product1.webp" alt="">
                        </div>
                        <div class="them">
                            THÊM VÀO GIỎ
                        </div>
                    </div>
                    <div class="content">
                        <div class="product-type">KASHIMR</div>
                        <div class="product-name">GALLANT</div>
                        <div class="product-price">
                            <b>1.954.000 <sup><u>đ</u></sup></b>
                            <s>2.299.000 <sup><u>đ</u></sup></s>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-header">
                        <div class="sale">
                            -16%
                        </div>
                        <div class="product-img">
                            <img src="../images/product2.webp" alt="">
                        </div>
                        <div class="them">
                            THÊM VÀO GIỎ
                        </div>
                    </div>
                    <div class="content">
                        <div class="product-type">KASHIMR</div>
                        <div class="product-name">MODISH</div>
                        <div class="product-price">
                            <b>1.954.000 <sup><u>đ</u></sup></b>
                            <s>2.299.000 <sup><u>đ</u></sup></s>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-header">
                        <div class="sale">
                            -16%
                        </div>
                        <div class="product-img">
                            <img src="../images/herbert.webp" alt="">
                        </div>
                        <div class="them">
                            THÊM VÀO GIỎ
                        </div>
                    </div>
                    <div class="content">
                        <div class="product-type">KASHIMR</div>
                        <div class="product-name">HERBERT</div>
                        <div class="product-price">
                            <b>1.954.000 <sup><u>đ</u></sup></b>
                            <s>2.299.000 <sup><u>đ</u></sup></s>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-header">
                        <div class="sale">
                            -16%
                        </div>
                        <div class="product-img">
                            <img src="../images/heinz_1.webp" alt="">
                        </div>
                        <div class="them">
                            THÊM VÀO GIỎ
                        </div>
                    </div>
                    <div class="content">
                        <div class="product-type">KASHIMR</div>
                        <div class="product-name">HEINZ</div>
                        <div class="product-price">
                            <b>1.954.000 <sup><u>đ</u></sup></b>
                            <s>2.299.000 <sup><u>đ</u></sup></s>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
</body>
</html>