<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BT3</title>
</head>
<body>
    <table border="1" align="center" cellpadding="5" cellspacing="0" width="500">
        <tr>
            <th align="center" rowspan="3">Buổi</th>
            <th align="center" colspan="3">Lịch học</th>
        </tr>
        <tr>
            <td align="center" colspan="2">Thời gian</td>
            <td align="center" rowspan="2">Môn học</td>
        </tr>
        <tr>
            <td align="center">Bắt đầu</td>
            <td align="center">Kết thúc</td>
        </tr>
        <tr>
            <th align="center" rowspan="2">Thứ 2</th>
            <td align="center" rowspan="2">8:00 AM</td>
            <td align="center" rowspan="2">12:00 AM</td>
            <td align="center">Cơ sở dữ liệu</td>
        </tr>
        <tr>
            <td align="center">Nhập môn C</td>
        </tr>
        <tr>
            <th align="center" rowspan="3">Thứ 3</th>
            <td align="center">8:00 AM</td>
            <td align="center">12:00 AM</td>
            <td align="center">Thiết kế web</td>
        </tr>
        <tr>
            <td align="center">2:00 PM</td>
            <td align="center">5:00 PM</td>
            <td align="center" rowspan="2">PHP</td>
        </tr>
        <tr>
            <td align="center">6:00 PM</td>
            <td align="center">8:00 PM</td>
        </tr>
        <tr>
            <th align="center">Thứ 4</th>
            <td align="center">2:00 PM</td>
            <td align="center">9:00 PM</td>
            <td align="center">JAVA CORE</td>
        </tr>
    </table>
</body>
</html>