<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BT7</title>
</head>
<body>
    <form action="">
        
            <div>
                <h2 style=" width:600px;color: aliceblue; background-color:#CC0000">WUFOO</h2>
            </div>
            <div style="width:570px; margin-left: 10px;">
                <div>
                    <p style="font-size:25px;">To Do List</p>
                </div>
                <hr>
                <b>Item</b>
                <div>
                    <input type="text" name="item" id="item" size="80" style="margin-bottom: 10px">
                </div>
                <b>Description</b>
                <div>
                    <textarea cols="75" rows="5" style="margin-bottom: 10px"></textarea>
                </div>
                <b style="margin-right: 250px;">Priority</b>
                <b>Category</b>
                <div>
                    <select name="Priority" id="Priority" style="margin-right: 55px; width:250px">
                        <option value="Low">Low</option>
                    </select>
                    <select name="Category" id="Category" style=" width:250px">
                        <option value="Personal">Personal</option>
                    </select>
                </div>
                <br>
                <b>Due Date</b>
                <div>
                    <input type="date" name="dd" id="dd" style="width:245px">
                </div>
                <br>
                <b>Status</b>
                <div>
                    <input type="checkbox" name="status" value="Done">Done.
                </div>
                <br>
                <input type="submit" name="submit" value="submit">

        </div>
    </form>
</body>
</html>