<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu-cấp1</title>
    <link rel="stylesheet" href="../CSS/menu.css">
</head>
<body>
    <header>
        <nav>
            <ul class="main-menu">
                <li >
                    <a href="#">Trang chủ</a>
                </li>
                <li >
                    <a href="#">Sản Phẩm</a>
                </li>
                <li >
                    <a href="#">Dịch vụ</a>
                </li>
                <li >
                    <a href="#">Giới thiệu</a>
                </li>
                <li >
                    <a href="#">Liên hệ</a>
                </li>
            </ul>
        </nav>
    </header>

    <section></section>
    <footer></footer>
</body>
</html>