<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    
    <link rel="stylesheet" href="../Css/layout.css">
    <link rel="stylesheet" href="../Css/member.css"> 
    <link rel="stylesheet" href="../Css/contact.css">
    
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

</head>
<body  onscroll="myFunction()">
    <header class="header">
        <div class="top-header bg-cam px-57 py-2" id="top-head">
            <div class="d-flex justify-content-between align-items-center">
                <div class="address-head">
                    <span><i class="fa-solid fa-location-dot color-wh"></i></span>
                    <span class="text-white ml-2">Tìm cửa hàng gần bạn</span>
                </div>
                <div class="time-head d-flex color-white">
                    <div class="time-start d-flex align-items-center mr-4">
                        <span><i class="fa-solid fa-clock color-wh "></i></span>
                        <span class="ml-2 text-white">Giờ mở cửa</span>
                    </div>
                    <div class="mr-2">
                        <p class="mb-1 ">
                            <span class="text-white">Siêu thị:</span> <span class="text-white">6:00 - 23:00 (T2-CN)</span>
                        </p>
                        <p class="mb-0">
                            <span class="text-white">Cửa hàng:</span> <span class="text-white">0:00 - 24:00 (T2-CN)</span>
                        </p>
                    </div>
                </div>
                <div>
                    <div class="lang-head">
                        <div class="d-flex lang-head-content">
                            <div class="d-flex justify-content-center bg-white" style="align-items: center; width:2.2rem; height:2.2rem; border-radius:50%; border:1px solid #fff">
                                <span style="color: #ff8228;">VN</span>
                            </div>
                            <div class="d-flex justify-content-center" style="align-items: center;width:2.2rem; height:2.2rem; border-radius:50%;  border:1px solid #fff"">
                                <span class="p-2 color-wh ">EN</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        
                    </div>
                </div>
                <div>
                    <div class="search-input">
                        <div class="d-flex form-search align-items-center">
                            <div>
                                <span><i class="fa-sharp font-13 text-white color-white fa-solid fa-magnifying-glass"></i></span>
                            </div>
                            <input type="text" class="p-2">
                        </div>
                    </div>
                </div>
                
                <div>
                    <div class="icon-head">
                        <div class="d-flex justify-content-between icon-head-content">
                            <div class="d-flex justify-content-center" style="align-items: center; width:2.2rem; height:2.2rem; border-radius:50%; border:1px solid #fff">
                                <span><i  class="fa-brands text-white fa-facebook font-30" ></i></span>
                            </div>
                            <div class="d-flex justify-content-center bg-white" style="align-items: center;width:2.2rem; height:2.2rem; border-radius:50%;  border:1px solid #fff"">
                                <span class="p-2 color-wh d-flex align-items-center"><i style="color: #ff8228;" class="fa-brands font-20 color-white fa-instagram"></i></span>
                            </div>
                            <div class="d-flex justify-content-center bg-white" style="align-items: center;width:2.2rem; height:2.2rem; border-radius:50%;  border:1px solid #fff"">
                                <span class="p-2 color-wh d-flex align-items-center "><i style="color: #ff8228;" class="fa-brands font-13 color-white fa-youtube"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bot-header px-57">
            <nav>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="logo">
                        <img src="../Images/layout/Logo.png" alt="logo">
                    </div>
                    <div class="menu">
                        <ul class="list-option mb-0 d-flex justify-content-between align-items-center">
                            <li class="option">
                                <a href="#" title="menu"> TIN TỨC </a>
                            </li> 
                            <li class="option">
                                <a href="#" title="menu"> KHUYẾN MÃI </a>
                            </li>
                            <li class="option">
                                <a href="#" title="menu"> SỰ KIỆN </a>
                            </li>
                            <li class="option">
                                <a href="#" title="menu"> CHƯƠNG TRÌNH THÀNH VIÊN </a>
                            </li>
                            <li class="option">
                                <a href="#" title="menu"> FESTIVAL GO </a>
                            </li> 
                            <li class="option pr-0">
                                <a href="#" title="menu"> LIÊN HỆ </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>



    <!-- conten -->
    <section class="content-page ">
        <!-- member 2 -->
        <div class="contact-one">
            <div class="d-flex mx-auto bg-tim contact-title-one">
                <h2 class="title text-center w-100 font-33">
                    LIÊN HỆ
                </h2>
            </div>
            <div class="px-57">
                <div class="contact-content row bg-nhat">
                    <div class="col-6">
                        <iframe class="map-gg" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.478571545653!2d105.80885282594011!3d21.013528838300235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab6229494ac5%3A0x47f54ce9ba04e102!2zMjUgUC4gVsWpIE5n4buNYyBQaGFuLCBMw6FuZyBI4bqhLCDEkOG7kW5nIMSQYSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1681658320450!5m2!1svi!2s" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="col-6 pb-5">
                        <div class="title-contact mb-5">
                            <h3 class="color-red">Hãy liên hệ với chúng tôi</h3>
                            <p class="content-detail font-30 ">
                                Chúng tôi luôn sẵn sàng lắng nghe ý kiến và góp ý từ bạn
                            </p>
                        </div>
                        <div class="title-contact mb-5">
                            <h3 class="color-red">FESTIVAL MARKET</h3>
                            <ul class="list-contact pl-0">
                                <li class="option-contact my-4">
                                    <span><i class="fa-solid fa-clock color-tim font-20 "></i></span>
                                    <span class="ml-4 text-white font-20">Thứ 2 - Chủ Nhật : 6:00 - 22:30</span>
                                </li>
                                <li class="option-contact mb-4">
                                    <span><i class="fa-sharp fa-solid font-20 fa-phone color-tim"></i></span>
                                    <span class="ml-4 text-white font-20">Thứ 2 - Chủ Nhật : 6:00 - 22:30</span>
                                </li>
                                <li class="option-contact mb-4">
                                    <span><i class="fa-solid font-20 fa-location-dot color-tim"></i></span>
                                    <span class="ml-4 text-white font-20">Thứ 2 - Chủ Nhật : 6:00 - 22:30</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-two">
            <div class="two-title row">
                <div class="col-6 bg-tim-img">
                    <h2 class="font-33">
                        CHIA SẺ CÙNG CHÚNG TÔI
                    </h2>
                </div>
                <div class="col-6">
                    <div style="border-bottom: 1px solid #ccc;">
                        <input type="text" class="w-100 input-cont" placeholder="Tiêu đề">

                    </div>
                </div>
            </div>
            <form>
                <div class="px-57 detail-contact-two">
                    <div class="row">
                        <div class="col-6">
                            <div action="" class="form-contact bg-tim">
                                <p class="font-13">
                                    Quý khách vui lòng nhập 
                                    đầy đủ thông tin cần thiết. Chúng tôi sẽ liên hệ sớm nhất.
                                </p>
                                <div class="form-inp">
                                    <span>
                                        <i class="fa-solid fa-user"></i>
                                    </span>
                                    <input type="text" class="none-border-input bg-tim">
                                </div>
                                <div class="form-inp">
                                    <span>
                                        <i class="fa-solid fa-user"></i>
                                    </span>
                                    <input type="text" class="none-border-input bg-tim">
                                </div>
                                <div class="form-inp">
                                    <span>
                                        <i class="fa-solid fa-user"></i>
                                    </span>
                                    <input type="text" class="none-border-input bg-tim">
                                </div>
                                <div class="form-inp" style="border: none;">
                                    <select class="font-13 w-100 p-2" style="border-radius: 1rem;">
                                        <option value="0" class="font-13 text-center">Vui lòng chọn lý do liên hệ</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-contact py-0 h-100">
                                <textarea name="" id="" border-tim cols="30" rows="10" class="h-100 border-tim font-13 h-100 w-100" placeholder="Vui lòng nhập ý kiến"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 d-flex justify-content-end">
                        <button type="button" class="bg-tim font-13 btn-sub text-white">Gửi</button>
                    </div>
                </div>
               
            </form>
        </div>
    </section>

    <!-- footer  -->
    <footer class="footer bg-cam px-57">
        <div class="row align-items-center">   
            <div class="col-2">
                <div class="logo-footer">
                    <div class="d-flex justify-content-center mx-auto logo-wh">
                        <img src="../Images/layout/Logo-wh.png" alt="logo">
                    </div>
                    <div>
                        <div class="icon-head">
                            <div class="w-10 d-flex justify-content-between icon-head-content">
                                <div class="d-flex justify-content-center" style="align-items: center; width:2.2rem; height:2.2rem; border-radius:50%; border:1px solid #fff">
                                    <span><i  class="fa-brands text-white fa-facebook font-30" ></i></span>
                                </div>
                                <div class="d-flex justify-content-center bg-white" style="align-items: center;width:2.2rem; height:2.2rem; border-radius:50%;  border:1px solid #fff"">
                                    <span class="p-2 color-wh d-flex align-items-center"><i style="color: #ff8228;" class="fa-brands font-20 color-white fa-instagram"></i></span>
                                </div>
                                <div class="d-flex justify-content-center bg-white" style="align-items: center;width:2.2rem; height:2.2rem; border-radius:50%;  border:1px solid #fff"">
                                    <span class="p-2 color-wh d-flex align-items-center "><i style="color: #ff8228;" class="fa-brands font-13 color-white fa-youtube"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="memnu-footer row">
                    <div class="col-6">
                        <ul class="menu-bot">
                            <li class="item-footer">
                                <a href="#">Tin tức</a>
                            </li>
                            <li class="item-footer">
                                <a href="#">Khuyến mại</a>
                            </li>
                            <li class="item-footer">
                                <a href="#">Chương trình thành viên</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="menu-bot">
                            <li class="item-footer">
                                <a href="#">Sự kiện</a>
                            </li>
                            <li class="item-footer">
                                <a href="#">Festival Go</a>
                            </li>
                            <li class="item-footer">
                                <a href="#">Liên hệ</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-6 d-flex mx-auto justify-content-center">
                <div class="sign-up">
                    <div class="top-sign">
                        <h3 class="font-25 text-white pt-3">
                            Newsletter Sign Up
                        </h3>
                        <input type="text" class="input-sign mt-3">
                    </div>
                    <div class="add-footer">
                        <ul>
                            <li class="detail-add">
                                <span>Địa chỉ:</span> <span class="ml-2"> 3-5 Phạm Văn Đồng, thành phố Nha Trang</span>
                            </li>
                            <li class="detail-add">
                                <span>Hotline:</span> <span class="ml-2"> 089 808 9586</span>
                            </li>
                            <li class="detail-add">
                                <span>Email:</span> <span class="ml-2"> cskh@festivalmarket.vn</span>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- script -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../Js/common.js"></script>


</body>
</html>