<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BaiViet</title>
    <link rel="stylesheet" href="../CSS/layout.css">
    <link rel="stylesheet" href="../CSS/BaiViet.css">
</head>
<body>
    <header>
        <nav class="d-flex w-nav">
            <div class="img-logo">
                <img src="../images/logophongtra.png" alt="">
            </div>
            <ul class="menu d-flex">
                <li>
                    <a href="#">TRANG CHỦ</a>
                </li>
                <li>
                    <a href="#">GIỚI THIỆU</a>
                </li>
                <li>
                    <a href="#">SẢN PHẨM</a>
                </li>
                <li>
                    <a href="#">TIN TỨC</a>
                </li>
                <li>
                    <a href="#">LIÊN HỆ</a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="w-section">
        <div class="main">
            <img class ="w-100" src="../images/BaiViet/background.jpg" alt="">
            <span>Trang chủ > Bài Viết</span> 
            <div class="main-content">
                <table>
                    <tr>
                        <td class="td1">
                            <p class="title-td1">Văn hóa uống trà của người Việt, câu chuyện xưa và nay</p>
                            <p>Trà xanh thái nguyên được phổ biến là một thức uống dân dã, quen thuộc từ ban đời nay. Cây chè xuất hiện chủ yếu ở các tỉnh Thái Nguyên, Phú Thọ, Yên Bái, Lâm Đông... là nguồn gốc cho ra những sản phẩm chè có chất lượng cao</p>
                            <p>Tùy vào đặc trưng của từng vùng địa lý, khí hậu và cách chế biến khác nhau mà tạo ra các thức uống mang hương vị đặc trưng riêng khác nhau. Lá chè tươi sau khi được hái về, rửa sạch, vò nát rồi đun nước uống liền người ta gọi đó là chè tươi. Còn những búp cho
                                tươi được hái về, qua nhiều công đoạn chế biến như phơi, sấy, sao khô, ướp hương hoa... thì được gọi là trà. Trà có quy trình chế
                                biến phức tạp, nhiều công đoạn, tốn công xức hơn nên giá thành cũng cao hơn chè tươi.</p>
                            
                            <div class="hcn">

                            </div>
                            <p>
                                Theo ghi chép, trà khởi nguồn ở các Chùa chiền, nơi gắn kết trà với đạo Phật. Cũng bởi lý do đó, hình thức thưởng trà này được gọi là Thiền trà. Từ chùa chiền, hình thức thưởng trà nhanh chóng được ưa chuộng trong chốn cung đình. Thời ngày xưa, chỉ có những người thuộc tầng lớp vua quan, quy tộc, dòng dõi quyền quý mới được thưởng thức trà theo hình thức cầu kỳ này, còn người dân thường chỉ uống loại chỉ tươi hái từ trên cây xuống.
                            </p>
                            <p>
                                Theo ghi chép, trà khỏi nguồn ở các Chúa chiến, nơi gắn kết trả với đạo Phật. Cũng bởi lý do đó, hình thức thường trà này được gọi là Thiên tra. Tu chua chiến, hình thức thưởng trà nhanh chóng được ưa chuộng trong chốn cung đình. Thời này thì, chỉ có những người thuộc tầng lớp vua quan, quy tộc, dòng dõi quyền quý mới được thuởng thức trà theo hình thức cầu kỳ này, còn người dân thường chỉ uống loại chỉ tuổi hai từ trên cây xuống.
                            </p>
                            <p>
                                Văn hóa uống trà thái nguyên ngày nay.
                            
                            </p>
                            <p>
                                Thời thế thay đổi, vì thế văn hóa uống và của người Việt cũng có những sự thay đổi. Chế tuổi bây giờ thường thấy có ở những hàng quán nước vỉa hè mà người ta hay gọi là chủ tươi, trà đá, là nơi dung chân nam thời, nơi dành cho những câu chuyện ngày thường dhi thuyền, của người trẻ, dành cho sự thành thời, không vội vã.
                            </p>
                            <p>
                                Trà khô (trà mạn) cũng khác xưa nhiều, không phải chỉ dành cho những gia đình có điều kiện, an hiểu về trà như xưa nữa mà đã được sử dụng rộng rãi, phổ biến hơn. Người ta thích tra mụn, yêu nghệ thuật thưởng trả nên nhiều người thường chủ trọng vào Ẩm trà, cách pha trà và cả cách thưởng thức chung. Sản phẩm trà cũng đa dạng chủng loại với nhiều hình thức xử dụng hơn.
                            </p>
                        </td>
                        <td class="td2">
                            <div class="Bai-viet-moi">
                                <p>BÀI VIẾT MỚI</p>
                                <table cellspacing="30">
                                    <tr>
                                        <td>
                                            <div class="hv">
                                            </div>
                                        </td>
                                        <td>
                                            <a href="#">
                                                Trà Sen Tây Hồ - thứ quà tặng giàu giá trị tinh thần của người Hà Thành
                                            </a>  
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="hv">
                                            </div>
                                        </td>
                                        <td>
                                            <a href="#">
                                                Trà Sen Tây Hồ - thứ quà tặng giàu giá trị tinh thần của người Hà Thành
                                            </a>  
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="hv">
                                            </div>
                                        </td>
                                        <td>
                                            <a href="#">
                                                Trà Sen Tây Hồ - thứ quà tặng giàu giá trị tinh thần của người Hà Thành
                                            </a>  
                                        </td>
                                    </tr>
                                </table>
                            </div>
                           
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </section>

    <footer class="w-section">
        <img class="w-100" src="../images/fotter.png" alt="">
        <div class="footer d-flex">
            <div>
                <img src="../images/logophongtra.png" alt="">
                <p>7999-999-999</p>
                <p>trasenbachdiep@gmail.com</p>
                <p>Số 12, Quảng An, Tây Hồ, Hà Nội</p>
            </div>
            <div>
                <big>VỀ CHÚNG TÔI</big>
                <p>Giới thiệu</p>
                <p>Sản Phẩm</p>
                <p>Tin tức</p>
            </div>
            <div>
                <big>LIÊN HỆ</big>
                <p>Giới thiệu</p>
                <p>Sản Phẩm</p>
                <p>Tin tức</p>
            </div>
        </div>
    </footer>
</body>
</html>