<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết sản phẩm</title>
    <link rel="stylesheet" href="../CSS/layout.css">
    <link rel="stylesheet" href="../CSS/chitietsanpham.css">
</head>
<body>
    <header>
        <nav class="d-flex w-nav">
            <div class="img-logo">
                <img src="../images/logophongtra.png" alt="">
            </div>
            <ul class="menu d-flex">
                <li>
                    <a href="#">TRANG CHỦ</a>
                </li>
                <li>
                    <a href="#">GIỚI THIỆU</a>
                </li>
                <li>
                    <a href="#">SẢN PHẨM</a>
                </li>
                <li>
                    <a href="#">TIN TỨC</a>
                </li>
                <li>
                    <a href="#">LIÊN HỆ</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="w-section">
        <div class="main">
            <img class ="w-100" src="../images/chitietsanpham/background.jpg" alt="">
            <span>Trang chủ > Sản phẩm > Chi tiết sản phẩm</span> 
            <div class="product">
                <table cellspacing="30">
                    <tr>
                        <td>           
                           <div class="button"> <img src="../images/chitietsanpham/upButton.png" alt=""> </div>
                           <div> <img src="../images/chitietsanpham/img-1.jpg" alt=""> </div>
                           <div> <img src="../images/chitietsanpham/img-2.jpg" alt=""> </div>
                           <div> <img src="../images/chitietsanpham/img-3.jpg" alt=""> </div>
                           <div class="button"><img  src="../images/chitietsanpham/downButton.png" alt=""> </div>
                        </td>
                        <td>
                            <img src="../images/chitietsanpham/main.jpg" alt="">
                        </td>
                        <td>
                            <div class="td3">
                                <p style="font-size: 3rem;">Trà Shan Tuyết</p>
                                <br><br>
                                <span style="font-size:1.8rem">50,000</span> <span style="font-size:1.3rem"><sub>VND</sub> </span><span style="margin-left: 2rem; font-size: 1.5rem; color:gray">200g</span>
                                <h4 class="margin-top">SẢN PHẨM ĐẠT CHUẨN VỆ SINH AN TOÀN THỰC PHẨM</h3>
                                <P class="margin-top">Trà Shan Tuyết (Chè Shan Tuyết) hay còn được gọi là trà tuyết. Đây là loại trà các sản của các động bảo tộc người Tây, Giao, Mông và là đặc sản của các tỉnh như Hà Giang, Điện Biên, Lào Cai.</P>
                                <p class="margin-top">Đặc điểm của trà Shan Tuyết là búp trà (cánh trà) rất to và miàu trắng, dưới cảnh trà phủ lớp lông tơ mịn mẫu trắng.</p>
                                <p class="margin-top">Cây trà Shan Tuyết cổ thụ rất lớn, có khi vài người lớn vòng tay âm. Mọc ở trên núi cao hơn rzoom, quanh năm mây mà và lạnh. Sự chênh lệch nhiệt độ giữa ngày và đêm là rất lớn, chính bởi có điều tiên tự nhiên thú vị như vậy nên đó là nét độc đào tạo ra một hương vị trà shan tuyết cổ thụ thơm ngon</p> 
                            </div>
                        </td>
                    </tr>
                </table>
            </div> 
            <div class="img-cup-tea">
                <img class="w-100"src="../images/chitietsanpham/phatra.jpg" alt="">
            </div>
            <div class="phatra">
                <p style="font-size: 3rem;">Hướng dẫn pha Trà Shan Tuyết</p>
                <p class="content-phatra">Để vào ấm từ 150-200ml, nước sôi nhiệt độ 85<sup>o</sup>C</p>
                <p class="content-phatra">1-2 nắm trà, khoảng 20-30gram</p>
                <p class="content-phatra">Để trà:4-6 phút</p>
            </div>

            <div class="SanPhamLQ">
                <p>Sản phẩm liên quan</p>
                <table>
                    <tr>
                        <td>
                            <img src="../images/chitietsanpham/backButton.png" alt="">
                        </td>
                        <td>
                            <img class="w-100"src="../images/san-pham/trabup.png" alt="">
                            <p>Trà Búp</p>
                            <span class="gia">70,000 <sub>VNĐ</sub></span><span class="klg">200g</span>
                        </td>
                        <td>
                            <img class="w-100"src="../images/san-pham/santuyet.png" alt="">
                            <p>Trà Shan Tuyết</p>
                            <span class="gia">50,000 <sub>VNĐ</sub></span><span class="klg">200g</span>
                        </td>
                        <td>
                            <img class="w-100"src="../images/san-pham/oolong.png" alt="">
                            <p>Trà Oolong</p>
                            <span class="gia">70,000 <sub>VNĐ</sub></span><span class="klg">200g</span>
                        </td>
                        <td>
                            <img class="w-100"src="../images/san-pham/trabup.png" alt="">
                            <p>Trà Búp</p>
                            <span class="gia">70,000 <sub>VNĐ</sub></span><span class="klg">200g</span>
                        </td>
                        <td>
                            <img src="../images/chitietsanpham/nextButton.png" alt="">
                        </td>
                    </tr>
                </table>
            </div>


        </div>
    </section>
    <footer class="w-section">
        <img class="w-100" src="../images/fotter.png" alt="">
        <div class="footer d-flex">
            <div>
                <img src="../images/logophongtra.png" alt="">
                <p>7999-999-999</p>
                <p>trasenbachdiep@gmail.com</p>
                <p>Số 12, Quảng An, Tây Hồ, Hà Nội</p>
            </div>
            <div>
                <big>VỀ CHÚNG TÔI</big>
                <p>Giới thiệu</p>
                <p>Sản Phẩm</p>
                <p>Tin tức</p>
            </div>
            <div>
                <big>LIÊN HỆ</big>
                <p>Giới thiệu</p>
                <p>Sản Phẩm</p>
                <p>Tin tức</p>
            </div>
        </div>
    </footer>
</body>
</html>