<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giới Thiệu</title>
    <link rel="stylesheet" href="../CSS/GioiThieu.css">
    <link rel="stylesheet" href="../CSS/layout.css">
</head>
<body>
    <header>
        <nav class="d-flex w-nav">
            <div class="img-logo">
                <img src="../images/logophongtra.png" alt="">
            </div>
            <ul class="menu d-flex">
                <li>
                    <a href="#">TRANG CHỦ</a>
                </li>
                <li>
                    <a href="#">GIỚI THIỆU</a>
                </li>
                <li>
                    <a href="#">SẢN PHẨM</a>
                </li>
                <li>
                    <a href="#">TIN TỨC</a>
                </li>
                <li>
                    <a href="#">LIÊN HỆ</a>
                </li>
            </ul>
        </nav>
    </header>
    
    <section class="w-section">
        <div class="banner">
            <img class="w-100"src="../images/gioi-thieu/banner.jpg" alt="">
            <span>TRÀ SEN</span>
            <p>BÁCH DIỆP</p>
        </div>
        <div class="main-content">
            <img class="w-100"src="../images/gioi-thieu/banner02.jpg" alt="">
            <div class="content">
                <h2>GIỚI THIỆU </h2>
                <p>Bằng sự nỗ nực không ngừng, trải qua hơn 10 năm xây dựng và phát triển trong lĩnh vực trẻ Thủ Nguyên, tháng 06/2017, công ty TNNHH Tân Cương Xanh chính thức kỉ niệm 20 năm thành lập (1997-2017), Trong 20 năm qua, thương hiệu trà Tân Cương Xanh đã ngày càng đi sâu vào thị trường trà Việt nói riêng và thế giới đồ uống nói chung.</p>
                <p>Với mục tiêu mang đến thị trường một sản phẩm trà mang thương hiệu Thái Nguyên sạch chính hiệu cũng như sự trận trn về sự phát triển của thị trường chè Việt Nam, cách đây 10 nằm trên thị trang trà Việt, người con ưu tú đó đã thành lập một công ty chuyên sản suất và phân phối vẽ tra sạch mang thương hiệu - Tân Cương Xanh"</p>
                <img src="../images/gioi-thieu/intro1.jpg" alt="">
                <p>Với phương châm "Uy tín chất lượng sản phẩm là mục tiêu số 1 Công ty TNHH Tân Cương Xanh đã luôn nỗ lực cả về nhân lực, vật lực, xây dựng uy tín thương hiệu, niềm tin với khách hàng thông qua những sản phẩm của công ty. Cùng với sự tín nhiệm của khách hàng vào sản phẩm của Tân Cương Xanh trong thời gian qua, Tân Cương Xanh đã không những phát triển thành một công ty vững mạnh trong ngành trà thái nguyên ngon Việt Nam đạt được Cúp Vàng thương hiệu Doanh Nhân Tinh hoa Đất Việt và Thương hiệu vàng Uy tín. Từ đó tạo nên động lực để Tân Cương Xanh phấn đấu để trở thành một trong những tập đoàn sản xuất, chế biến và cung cấp trả hàng đầu Việt Nam và thế giới</p>
                <p>Sản Phẩm của công ty đạt đầy đủ tiêu chuẩn vệ sinh an toàn của Chi Cục Vệ Sinh An Toàn Thực Phẩm Của Thu Nguyễn - Của chi cục Hà nối Đạt tiêu chuẩn xuất khẩu Chicago - Hoa Kỳ. Tra Tan Cuong một loại đồ uống nổi tiếng trong ẩm thực của người Việt Nam có hưởng thm cốm dịu dùng đặc trưng màu nước xanh trong, sinh và bên, vị chát dịu, uống xong có hậu ngọt làng sâu trong vị giác người thưởng thức. Sản phẩm trẻ tan cương thái nguyên của nhà máy có tác dụng giải nhiệt, giam bên, trị tăng huyết áp và phòng chống phóng xạ, chống ung thư. Với phương chim "Uy tin chất lượng sản phẩm là mục tiêu số 1. Công ty TNHH Tân Cương Sanh không ngừng phấn đấu để trở thành một trong những tập đoàn cầu xuất chế biến và cung cấp trả hàng đầu Việt Nam và thế giới.</p>
                <img src="../images/gioi-thieu/intro2.jpg" alt="">
            </div>
        </div>
    </section>


    <footer class="w-section">
        <img class="w-100" src="../images/fotter.png" alt="">
        <div class="footer d-flex">
            <div>
                <img src="../images/logophongtra.png" alt="">
                <p>7999-999-999</p>
                <p>trasenbachdiep@gmail.com</p>
                <p>Số 12, Quảng An, Tây Hồ, Hà Nội</p>
            </div>
            <div>
                <big>VỀ CHÚNG TÔI</big>
                <p>Giới thiệu</p>
                <p>Sản Phẩm</p>
                <p>Tin tức</p>
            </div>
            <div>
                <big>LIÊN HỆ</big>
                <p>Giới thiệu</p>
                <p>Sản Phẩm</p>
                <p>Tin tức</p>
            </div>
        </div>
    </footer>
</body>
</html>