<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liên Hệ</title>
    <link rel="stylesheet" href="../CSS/lienhe.css">
    <link rel="stylesheet" href="../CSS/layout.css">
</head>
<body>
    <header>
        <nav class="d-flex w-nav">
            <div class="img-logo">
                <img src="../images/logophongtra.png" alt="">
            </div>
            <ul class="menu d-flex">
                <li>
                    <a href="#">TRANG CHỦ</a>
                </li>
                <li>
                    <a href="#">GIỚI THIỆU</a>
                </li>
                <li>
                    <a href="#">SẢN PHẨM</a>
                </li>
                <li>
                    <a href="#">TIN TỨC</a>
                </li>
                <li>
                    <a href="#">LIÊN HỆ</a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="w-section">
        <div class="main-frame">
            <div class="bg-img">
                <img class="w-100" src="../images/lien-he/banner.jpg" alt="">
            </div>
            <div class="register">
                LIÊN HỆ VỚI CHÚNG TÔI 
                <form action="">
                    <div>
                        <input class="text" type="text" placeholder="Họ tên">
                    </div>
                    <div>
                        <input class="text" type="email" placeholder="Email">
                    </div>
                    <div>
                        <input class="text" type="number" placeholder="Số điện thoại">
                    </div>
                    <div>
                        <input class="text" type="text" placeholder="Nội Dung">
                    </div>
                    <div>
                        <input class="submit" type="submit" value="Gửi">
                    </div>
                </form>
            </div>
        </div>
    </section>

    <footer class="w-section">
        <img class="w-100" src="../images/fotter.png" alt="">
        <div class="footer d-flex">
            <div>
                <img src="../images/logophongtra.png" alt="">
                <p>7999-999-999</p>
                <p>trasenbachdiep@gmail.com</p>
                <p>Số 12, Quảng An, Tây Hồ, Hà Nội</p>
            </div>
            <div>
                <big>VỀ CHÚNG TÔI</big>
                <p>Giới thiệu</p>
                <p>Sản Phẩm</p>
                <p>Tin tức</p>
            </div>
            <div>
                <big>LIÊN HỆ</big>
                <p>Giới thiệu</p>
                <p>Sản Phẩm</p>
                <p>Tin tức</p>
            </div>
        </div>
    </footer>
</body>
</html>