<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sản Phẩm</title>
    <link rel="stylesheet" href="../CSS/layout.css">
    <link rel="stylesheet" href="../CSS/SanPham.css">
</head>
<body>
    <header>
        <nav class="d-flex w-nav">
            <div class="img-logo">
                <img src="../images/logophongtra.png" alt="">
            </div>
            <ul class="menu d-flex">
                <li>
                    <a href="#">TRANG CHỦ</a>
                </li>
                <li>
                    <a href="#">GIỚI THIỆU</a>
                </li>
                <li>
                    <a href="#">SẢN PHẨM</a>
                </li>
                <li>
                    <a href="#">TIN TỨC</a>
                </li>
                <li>
                    <a href="#">LIÊN HỆ</a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="w-section">
        <div class="banner">
            <img class="w-100" src="../images/san-pham/banner.png" alt="">
            <span>SẢN PHẨM</span>
        </div>
        <form action="">
            <div class="main">
                <div class="main-header">
                    <span>
                        Trang chủ  >  Sản phẩm
                    </span>
                    <p>
                        Sản phẩm
                    </p>
                    <hr>
                    <span>
                        Bộ lọc sản phẩm
                    </span>
                    <select name="filter" id="filter">
                        <option value="mặc định">Thứ tự mặc định</option>
                        <option value="Thấp đến cao">Giá thấp đến cao</option>
                        <option value="Cao đến thấp">Giá cao đến thấp</option>
                        <option value="đánh giá">Xếp theo đánh giá</option>
                        <option value="phổ biến">Xếp theo phổ biến</option>
                    </select>
                </div>
                <div class="filter-right">
                    <p>Loại sản phẩm</p>
                    <div class="checkbox">
                        <input type="checkbox" name="type" value="ThaiNguyen">Trà xanh Thái Nguyên
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="type" value="Oolong">Trà Oolong
                    </div>
                   <div class="checkbox">
                        <input type="checkbox" name="type" value="ShanTuyet">Trà Shan Tuyết
                   </div>
                   <div class="checkbox">
                        <input type="checkbox" name="type" value="sen">Trà sen
                   </div>
                   <div class="checkbox">
                        <input type="checkbox" name="type" value="lai">Trà lài
                   </div>
                   <div class="checkbox">
                        <input type="checkbox" name="type" value="ThaoDuoc">Trà thảo dược
                   </div>
                   <div class="checkbox">
                        <input type="checkbox" name="type" value="dungcu">Dụng cụ pha trà
                   </div>
                   <div class="checkbox">
                        <input type="checkbox" name="type" value="Nuoc">Nước pha trà
                   </div>
                  
                    <p>Giá thành</p>
                    <p>Thương hiệu</p>
                    <div class="checkbox">
                        <input type="checkbox" name="ThuongHieu" value="TanCuong" style="color:#ccc">Trà Tân Cương Xanh
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="ThuongHieu" value="TayHo">Trà Sen Tây Hồ
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="ThuongHieu" value="LocTan">Trà Lộc Tân      
                    </div>
                    
                </div>
                <div class="list-product">
                    <table cellspacing="30">
                        <tr>
                            <td>
                                <img src="../images/san-pham/santuyet.png" alt="">
                                <p>Trà Shan Tuyết</p>
                                <span class="gia">50,000 <sub>VNĐ</sub></span><span class="klg">200g</span>
                            </td>
                            <td>
                                <img src="../images/san-pham/oolong.png" alt="">
                                <p>Trà Oolong</p>
                                <span class="gia">70,000 <sub>VNĐ</sub></span><span class="klg">200g</span>
                            </td>
                            <td>
                                <img src="../images/san-pham/trabup.png" alt="">
                                <p>Trà Búp</p>
                                <span class="gia">70,000 <sub>VNĐ</sub></span><span class="klg">200g</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../images/san-pham/santuyet.png" alt="">
                                <p>Trà Shan Tuyết</p>
                                <span class="gia">50,000 <sub>VNĐ</sub></span><span class="klg">200g</span>
                            </td>
                            <td>
                                <img src="../images/san-pham/oolong.png" alt="">
                                <p>Trà Oolong</p>
                                <span class="gia">70,000 <sub>VNĐ</sub></span><span class="klg">200g</span>
                            </td>
                            <td>
                                <img src="../images/san-pham/trabup.png" alt="">
                                <p>Trà Búp</p>
                                <span class="gia">70,000 <sub>VNĐ</sub></span><span class="klg">200g</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../images/san-pham/santuyet.png" alt="">
                                <p>Trà Shan Tuyết</p>
                                <span class="gia">50,000 <sub>VNĐ</sub></span><span class="klg">200g</span>
                            </td>
                            <td>
                                <img src="../images/san-pham/oolong.png" alt="">
                                <p>Trà Oolong</p>
                                <span class="gia">70,000 <sub>VNĐ</sub></span><span class="klg">200g</span>
                            </td>
                            <td>
                                <img src="../images/san-pham/trabup.png" alt="">
                                <p>Trà Búp</p>
                                <span class="gia">70,000 <sub>VNĐ</sub></span><span class="klg">200g</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../images/san-pham/santuyet.png" alt="">
                                <p>Trà Shan Tuyết</p>
                                <span class="gia">50,000 <sub>VNĐ</sub></span><span class="klg">200g</span>
                            </td>
                            <td>
                                <img src="../images/san-pham/oolong.png" alt="">
                                <p>Trà Oolong</p>
                                <span class="gia">70,000 <sub>VNĐ</sub></span><span class="klg">200g</span>
                            </td>
                            <td>
                                <img src="../images/san-pham/trabup.png" alt="">
                                <p>Trà Búp</p>
                                <span class="gia">70,000 <sub>VNĐ</sub></span><span class="klg">200g</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../images/san-pham/santuyet.png" alt="">
                                <p>Trà Shan Tuyết</p>
                                <span class="gia">50,000 <sub>VNĐ</sub></span><span class="klg">200g</span>
                            </td>
                            <td>
                                <img src="../images/san-pham/oolong.png" alt="">
                                <p>Trà Oolong</p>
                                <span class="gia">70,000 <sub>VNĐ</sub></span><span class="klg">200g</span>
                            </td>
                            <td>
                                <img src="../images/san-pham/trabup.png" alt="">
                                <p>Trà Búp</p>
                                <span class="gia">70,000 <sub>VNĐ</sub></span><span class="klg">200g</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="next">
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                    <button>></button>
                </div>
            </div>
        </form>

    </section>

    <footer class="w-section">
        <img class="w-100" src="../images/fotter.png" alt="">
        <div class="footer d-flex">
            <div>
                <img src="../images/logophongtra.png" alt="">
                <p>7999-999-999</p>
                <p>trasenbachdiep@gmail.com</p>
                <p>Số 12, Quảng An, Tây Hồ, Hà Nội</p>
            </div>
            <div>
                <big>VỀ CHÚNG TÔI</big>
                <p>Giới thiệu</p>
                <p>Sản Phẩm</p>
                <p>Tin tức</p>
            </div>
            <div>
                <big>LIÊN HỆ</big>
                <p>Giới thiệu</p>
                <p>Sản Phẩm</p>
                <p>Tin tức</p>
            </div>
        </div>
    </footer>
</body>
</html>