<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VD6</title>
</head>
<body>
    <section>
        <div class="rectangle" style="width:300px">
            <div class="rectangle1" style="height:100px;border:10px yellow solid;">

            </div>
            <div class="rectangle2" style="height:300px;border:10px black solid">
                <div class="square" style="width:90px;height:90px;background-color: red; margin:50px">

                </div>
            </div>
        </div>
    </section>
</body>
</html>
