*{
    margin:0;
    padding:0;
    text-decoration: none;
    color:black;
    list-style: none;
}
html{
    font-size:20px;
}
.d-flex{
    display: flex;
}
.w-nav {
    width:70%;
    margin: 2rem auto; 
}
.img-logo img{
    width:100%;
}
.img-logo{
    margin-right: 13rem;
}
.menu li{
    padding:0.8rem 3rem;
}
.menu li > a{
    font-size:1rem;
    font-weight: 400;
}
.w-section{
    width:80%;
    height:15%;
    margin:auto;
}
.title{
    position:absolute;
    top:15%;
    left:40%;
    font-weight: 550;
    font-size: 1.2rem;
}
.w-100{
    width:100%;
}
footer{
    position: relative;
}
.footer div p{
    font-size: 0.8rem;;
}
.footer div{
    margin:0.5rem 5rem;
}
.footer{
    position:absolute;
    width:60%;
    top:10%;
    left:15%;
}




